* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-color: #171717;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

button,
input,
textarea,
select {
  font-family: inherit;
}

/* Social Reveal */

.reveal {
  opacity: 0;
  transition:
    opacity 0.9s ease,
    transform 0.9s cubic-bezier(0.22, 1, 0.36, 1);
}

.reveal-up {
  transform: translateY(70px);
}

.reveal-left {
  transform: translateX(-70px);
}

.reveal-right {
  transform: translateX(70px);
}

.reveal.active {
  opacity: 1;
  transform: translate(0);
}

@keyframes imageReveal {
  from {
    transform: scale(1.08);
  }
  to {
    transform: scale(1);
  }
}

/* Scroll Reveal */

.reveal {
  opacity: 0;
  transition:
    opacity 0.9s ease,
    transform 0.9s cubic-bezier(0.22, 1, 0.36, 1);
}

.reveal-up {
  transform: translateY(70px);
}

.reveal-left {
  transform: translateX(-70px);
}

.reveal-right {
  transform: translateX(70px);
}

.reveal.active {
  opacity: 1;
  transform: translate(0);
}
